<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= name %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><%= name %></h1>
  <ul>
        <% menuItems.forEach((item, index) => { %>
            <a href="/<%= index %>">
                <li><%= item.name %></li>
                <li>Price: $<%= item.price %> Rating: <%= item.rating %></li>
                <li>Details: <%= item.details %></li>
            </a>
        <% }) %>
    </ul>
</body>
</html>